apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secret
  namespace: mrhealth-db
  labels:
    app: postgresql
type: Opaque
stringData:
  postgres-password: "CHANGE_ME_admin_password_2026"
  pg-extractor-password: "CHANGE_ME_extractor_readonly_2026"
