# Grafana NodePort Service
# Exposes Grafana on port 30300 for external access
# Access: http://15.235.61.251:30300
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: mrhealth-db
  labels:
    app: grafana
    part-of: mrhealth
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300
      protocol: TCP
      name: http
