apiVersion: v1
kind: ConfigMap
metadata:
  name: airflow-config
  namespace: mrhealth-db
data:
  AIRFLOW__CORE__EXECUTOR: "LocalExecutor"
  AIRFLOW__CORE__LOAD_EXAMPLES: "false"
  AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "false"
  AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "false"
  AIRFLOW__WEBSERVER__WTF_CSRF_ENABLED: "true"
